body 
{

margin : 0;
font-family:  "Roboto", 'Kumbh Sans',"Noto Sans";

}
*
{

list-style-type: none;
}


nav
{

height : 130px;
width : 100%;
position : fixed;
z-index: 10;
display : flex;
background-color:#7CF2E2;
left : 0;
right : 0;
top :0;
padding : 0 5%;
font-family:  "Arial Black", "Roboto", 'Kumbh Sans',"Noto Sans";
color : #fff;
box-shadow: 0px 0px 10px rgb(102, 102, 102);
}

.logo
{
margin : 0 25px;
display: flex;
align-items: center;
height: 100%;
float: left;
font-size: 40px;
text-decoration: none;

}

nav .links
{
    display : flex;
    
    list-style: none;
    height : 100%;
    margin : 0 ;
    width :100%;
    max-width: 672px;
    align-items: center;

}

.links li
{
margin : 0 auto;
font-size: 34px;

}

.links li a
{
text-decoration: none;
color : #fff;
}

.links li hr
{
margin : 0;
height : 1px;
width : 0px;
background-color : #fff;
display : none;
border : 2px solid #fff;
border-radius : 25px;	
margin : auto;
padding : 0;
}

.burger 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    margin :auto 0 ;
    float: left;
    font-size: 50px;
    display: none;
    vertical-align: middle;
    padding : 0 25px;
}
.bar
{


height : 2px;
margin :3px 0;
width : 50px;
background-color : #fff;

border : 3px solid #fff;
border-radius : 25px;	



}
#logElement
{

display : none;
    
}
.logo a
{
 color : #fff;
 text-decoration: none;
    
}


@media screen and (max-width: 1100px)
{

nav
{

height : max-content;
min-height: inherit;

}
#logElement
{

display : block;
    
}
#setpseudoOnBalise
{

    display : none;

}
.burger
{

    display : block;
    cursor : pointer;

}
.logo
{
margin : 0 auto;


}
.logo a
{
 color : #fff;
 text-decoration: none;
    
}

.burger, .logo
{
display: flex;

}

nav .links
{

background-color: #7CF2E2;
width : 50%;
position : fixed;
top : 56px;
left : -50%;
display : flex;
flex-direction: column;
justify-content: inherit;
padding : 0;

}

nav .links li
{

    justify-content: center;
    margin : 15px 0;



}
nav .links li a
{

display : flex;
justify-content: stretch;

}
#login
{
position :relative;
top :60vh;
text-align: center;

}
}